.hero-banner {
    background-image: url(/assets/Banner_image.png);
    height: 484px;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 64px;
}

.hero-content>h1 {
    color: var(--text-white);
    text-shadow: var(--text-shadow);
    font-size: clamp(32, 4vw, 70px);
}

.hero-content>a {
    color:var(--text-white);
    background-color: black;
    border-radius: 32px;
    text-decoration: none;
    font-weight: 800;
    padding:16px;
}

.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:16px;
    
}

.home-testimonials{
    background-color: var(--yellow);
    padding: 8px;
    border-bottom :1px solid black;


    display: flex;
    align-items: center;
    justify-content: center;
}


.h-testimonial{
    display: flex;
    gap: 8px;
    background-color: black;
    border: 2px solid var(--red);
    color: var(--text-white);
    padding-right: 8px;
    align-items: center;
}
.t-rating{
    align-self: stretch;
    display: flex;
    align-items: center;
    background-color: var(--yellow);
    color: var(--red);
    font-weight: 800;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 0px 16px 16px 0px;
}
.t-text{
    padding-top: 8px;
    padding-bottom: 8px
}

.home-section{
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;

}
.yellow{
    background-color: var(--yellow);

    border-radius: 0px 0px 128px 128px;
    

}
.cream-bg{
    background-color: var(--cream);
}

.blue{
    background-color: var(--blue-light);
    border-radius:  128px 128px 0px 0px;
}